name: selection_marquee
description: A customizable drag-to-select marquee package for Flutter.
version: 1.0.0
repository: https://github.com/ricsrdocasro/selection_marquee

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
